*, *::before, *::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

a:link {
	color: blue;
}

a:hover {
	color: lightgrey;
}

.hero-title {
	color: #6699a5;
	margin-top: 2px;
}

.new-task {
	position: static;
	top: 30px;
	width: 100%;
	background-color: #eeeeee;
}

.new-task-header {
	padding: 1rem 0 1rem 3rem;
}

.new-task-field {
	padding: 0rem 0 1rem 3rem;
}

.task-field {
	padding: auto;
	margin: 0 1rem 0 0 ;
	width: 33%;
}

.task-content {
	margin-bottom: 30px;
	left: 0;
	height: 100%;
	width: 100%;
}

.task-list {
	position: relative;
	margin-top: auto;
	padding: 0rem 2.5rem 0 2.5rem
}

.task-checkbox {
	position: relative;
	bottom: .25rem;
	right: .25rem;
}