<section class="taskbox">
  <h3>Current Tasks</h3>
    <div class="taskclass">
      <h4>High Priority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-show="(task.priority !== 'High')&&(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="history.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
<section class="taskbox">
  <h3>Current Tasks</h3>
    <div class="taskclass">
      <h4>MediumPriority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-show="(task.priority !== 'Medium')&&(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="history.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
<section class="taskbox">
  <h3>Current Tasks</h3>
    <div class="taskclass">
      <h4>Low Priority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-show="(task.priority !== 'Low')&&(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="history.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
</section>