<nav class="nav-bar">
	<h5>Active Tasks | Task History</h5>
</nav>

<section class="hero-content">
	<h1 class="hero-title">Active Tasks</h1>
</section>

<section class="new-task">
	<div class="new-task-header"> 
		Task Name | Description
	</div>
	<div class="new-task-field" ng-submit="main.addTask()">
		<input type="text" class="task-field" ng-model="task.title" name="title" value= "New Task Name">
		<input type="text" class="task-field" ng-model="task.description" name="text" value= "Describe Task">
		<input type="submit" class="submit" value="Add Task">
	</div>
</section>

<section task-content>
	<div class="task-list" ng-repeat="task in main.tasks">
		<div ng-hide="main.hide(task)">
			<h3><input class="task-checkbox" type='checkbox'> {{task.title}}</h3>
			<p>Created: {{task.created}}</p>
			<p class="task-description">Description: {{task.description}}></p>
		</div>
	</div>
</section>
